@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer {
  .btn-color {
    background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  }
}
