@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer {
  .btn-color {
    background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  }
}

.hide {
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}
